.c-header {
    @apply w-full border border-base-100/70 bg-content py-4 md:py-4 lg:py-3.5 flex justify-center fixed top-0 left-0 z-20;
}

.c-sidebar-mb {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    visibility: hidden;
    -webkit-transition: 200ms ease-in;
    transition: 200ms ease-in;
    z-index: -9;
    flex-direction: row;
    justify-content: flex-start;

    @apply flex bg-content pb-[62px] pl-5 pt-1;

    &.active {
        top: 0;
        visibility: visible;
        z-index: 18;
    }
}

.o-hamburguer {

    .trace{
        @apply w-6 h-5 flex items-center justify-center;

        span {
            @apply w-full h-[2px] bg-secondary relative rounded-xl;
            transition: 0.2s ease-in-out, top 0.2s ease-out;

            &:before, &:after {
                content: "";
                @apply w-full h-full bg-secondary absolute left-0;
                transition: 0.2s ease-in-out, top 0.2s ease-out;
            }

            &:before {
                top: 6px;
            }

            &:after {
                bottom: 6px;
            }
        }
    }

    &.active {
        .trace span {
            background-color: transparent;
            transition: 0.2s ease-out;

            &:before {
                top: 0!important;
                transform: rotate3d(0, 0, 1, -45deg);
            }

            &:after {
                top: 0!important;
                transform: rotate3d(0, 0, 1, 45deg);
            }
        }
    }
}

.c-nav {
    @apply w-full hidden md:flex items-center justify-end md:gap-6;

    &__item{
        @apply text-3xl md:text-base text-neutral whitespace-nowrap cursor-pointer relative hover:text-primary;

        &:before{
            content: "";
            @apply w-[0] h-[2px] absolute left-0 -bottom-0 bg-primary;
            transition: .5s;
            -webkit-transition: .5s;
        }

        &:hover{
            &:before{
                @apply w-full;
            }
        }

        &--draft{
            @apply px-4 py-1.5 text-base rounded-lg flex items-center gap-2 bg-primary text-primary-bw;

            svg{
                @apply h-4 stroke-primary-bw;
            }

            &:hover{
                @apply bg-primary/80 text-primary-bw;
            }

            &:before{
                display: none !important;
            }
        }
    }

    &--vertical{
        @apply gap-0 flex flex-col items-start justify-start;

        .c-nav__item{
            @apply flex my-3 lg:px-0;
        }
    }
}
