.c-hero {
    @apply pt-24 flex;

    &__logo {
        @apply h-16 md:h-24 mb-4 md:mb-8 pointer-events-none;
    }

    &__scroll {
        @apply flex flex-col justify-center items-center;
    }

    .swiper-hero {
        @apply py-1;

        .swiper-slide {
            height: auto;
            position: relative;
        }

        .swipper-navigation {
            @apply pointer-events-none w-full absolute z-10 top-[50%] translate-y-[-50%] block;
        }

        .swiper-nav-button {
            @apply bg-content/60 w-8 h-8 flex items-center justify-center pointer-events-auto rounded-full cursor-pointer hover:opacity-50 relative;
        }

        .swiper-button-disabled {
            opacity: 0.5;
        }

        .swiper-pagination{
            @apply w-[96%] text-right mb-2 pointer-events-none;
            left: 50%;
            transform: translate(-50%);

            .swiper-pagination-bullet{
                @apply border border-black bg-transparent opacity-100 pointer-events-auto;

                &-active{
                    @apply bg-black;
                }
            }
        }
    }
}

.box-banner{
    @apply absolute bottom-3;
    left: 50%;
    transform: translateX(-50%);
}



